[Desktop Entry]
Name=Zade
Comment=Control your voice assistant: status, voice, settings, memory and history
Exec=qs -p /home/zonic/Zade/ui/app.qml
Icon=audio-input-microphone
Terminal=false
Type=Application
Categories=Utility;
StartupWMClass=org.quickshell
